## GitHub Code Owners
## https://github.blog/2017-07-06-introducing-code-owners/
## https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Default
*          @AzureAD/identity-cxp-code

# Tooling Configuration
.*/*       @AzureAD/identity-cxp-code-admins
.github/*  @AzureAD/identity-cxp-code-admins
.vscode/*  @AzureAD/identity-cxp-code-admins

# Automation
build/*    @AzureAD/identity-cxp-code-admins

# Documentation
*.md       @AzureAD/identity-cxp-code
